@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div class="row banner-slide">
        <div class="col-lg-3 d-none d-lg-block category">
            <ul class="category-menu">
                <li class="list-group-title">
                    <div class="media justify-content-center">
                        <img src="~/Images/Icon-groups/icon-menu.svg" class="align-self-center mr-2" />
                        <div class="media-body">
                            Danh mục chung
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Thuốc kê đơn</a>
                        </div>
                    </div>
                    <ul>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Vitamin</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Thực phẩm chức năng</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#"> Ăn kiếng / Dinh dưỡng</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Chăm sóc cá nhân</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Chăm sóc trẻ</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"> <img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Chăm sóc da, tóc</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Chăm sóc răng miệng</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body">
                            <a href="#">Thiết bị y tế</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="#"><img src="~/Images/MedicineCategories/Rectangle 10.svg" class="mr-2 d-none d-xl-block" /></a>
                        <div class="media-body align-self-center">
                            <a href="#">Thảo mộc</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-9 ">
            <div class="slide-wrap-1 owl-carousel owl-theme">
                <div class="item"><a href="#"><img src="~/Images/banner-slider/banner-top.svg" class="card-img-top" alt="..."></a></div>
                <div class="item"><a href="#"><img src="~/Images/banner-slider/banner-top.svg" class="card-img-top" alt="..."></a></div>
                <div class="item"><a href="#"><img src="~/Images/banner-slider/banner-top.svg" class="card-img-top" alt="..."></a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card pink">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body mr-2">
                            Giao hàng miễn phí trong vòng 24h
                        </div>
                        <img src="~/Images/Icon-groups/icon-bus.svg" class="img-fluid" />
                    </div>
                    <div class="content">
                        Áp dụng cho giao hàng nội thành Hà nội, 3 ngày với giao toàn quốc
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card violet">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body mr-2">
                            Giao hàng miễn phí trong vòng 24h
                        </div>
                        <img src="~/Images/Icon-groups/icon-bus.svg" class="img-fluid" />
                    </div>
                    <div class="content">
                        Áp dụng cho giao hàng nội thành Hà nội, 3 ngày với giao toàn quốc
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card blue">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body mr-2">
                            Giao hàng miễn phí trong vòng 24h
                        </div>
                        <img src="~/Images/Icon-groups/icon-bus.svg" class="img-fluid" />
                    </div>
                    <div class="content">
                        Áp dụng cho giao hàng nội thành Hà nội, 3 ngày với giao toàn quốc
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card green">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body mr-2">
                            Giao hàng miễn phí trong vòng 24h
                        </div>
                        <img src="~/Images/Icon-groups/icon-bus.svg" class="img-fluid" />
                    </div>
                    <div class="content">
                        Áp dụng cho giao hàng nội thành Hà nội, 3 ngày với giao toàn quốc
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="fast-sell">
        <div class="title">
            BÁN CHẠY NHẤT
        </div>
        <hr />
        @Html.Action("SliderPartialView", "Home")
    </div>

    <div class="classify">
        <div class="row">
            <div class="col-12 col-lg-4 align-self-end title text-center text-lg-left mb-2 mb-lg-0">
                Danh riêng cho
            </div>
            <div class="col-12 col-sm-11 col-lg-7">
                <div class="nav nav-tabs justify-content-lg-end" id="nav-tab" role="tablist">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Người lớn</a>
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Trẻ em</a>
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Mẹ & bé</a>
                    <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab" aria-selected="false">Người cao tuổi</a>
                </div>
            </div>
        </div>
        <hr />

        <div class="tab-content">
            <div id="tabs-1" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-3 col-xl-4 d-none d-lg-block">
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 col-lg-9 col-xl-8">
                        @Html.Action("SliderTabPartialView", "Home")
                    </div>
                </div>
            </div>
            <div id="tabs-2" class="tab-pane">
                <div class="row">
                    <div class="col-lg-3 col-xl-4 d-none d-lg-block">
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 col-lg-9 col-xl-8">
                        @Html.Action("SliderTabPartialView", "Home")
                    </div>
                </div>
            </div>
            <div id="tabs-3" class="tab-pane">
                <div class="row">
                    <div class="col-lg-3 col-xl-4 d-none d-lg-block">
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 col-lg-9 col-xl-8">
                        @Html.Action("SliderTabPartialView", "Home")
                    </div>
                </div>
            </div>
            <div id="tabs-4" class="tab-pane">
                <div class="row">
                    <div class="col-lg-3 col-xl-4 d-none d-lg-block">
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid mb-3" />
                        <img src="~/Images/Icon-groups/avatar-medicine.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 col-lg-9 col-xl-8">
                        @Html.Action("SliderTabPartialView", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="banner-mid">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-9 text-center">
                <div class="title">
                    HÀNH TRANG CHIẾN ĐẤU MÙA COVID
                </div>
                @Html.Action("SliderPartialView", "Home")
                <a href="#" class="read-all">Xem tất cả</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="post-health">
        <div class="title">
            GÓC SỨC KHỎE <a href="#" class="float-right link-text">Xem tất cả</a>
        </div>
        <hr />
        <div class="owl-carousel owl-theme">
            @for (int i = 0; i < 5; i++)
            {
                <div class="card">
                    <a href="#" class="img-cover"><img src="~/Images/Post/1.svg" class="card-img-top" /></a>
                    <div class="card-body">
                        <div class="subjects">
                            <a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing</a>
                        </div>
                        <div class="descripts">
                            Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been the industry's standard dummy ndustry's standard.
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row mb-4 no-gutters-5">
        <div class="col-12 col-md-6">
            <img src="~/Images/banner-slider/banner-bottom.svg" class="card-img-top" />
        </div>
        <div class="col-12 col-md-6">
            <div class="Feed-back">
                <div class="owl-carousel owl-theme">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="title">
                                    Khách hàng nói về chúng tôi
                                </div>
                                <div class="content">
                                    Là một người mẹ, tôi không có nhiều thời gian và cơ hội để đi ra ngoài vào những lúc con tôi ốm. Hiệu thuốc trực tuyến là giải pháp tốt nhất.
                                </div>
                                <div class="media">
                                    <a href="#"><img src="~/Images/FeedBack/1.svg" class="mr-2 rounded-circle" /></a>
                                    <div class="media-body align-self-center">
                                        <div class="name"><a href="#">Trần Hoàng Hà </a></div>
                                        <div class="address">Hà Nội</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

